@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.glass-card {
  @apply bg-white/5 border border-white/10 rounded-2xl shadow-xl backdrop-blur-xl;
}
@keyframes scanDiagonal {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.scan-effect {
  background: linear-gradient(
    135deg,
    transparent 0%,
    rgba(0, 120, 205, 0.18) 50%,
    transparent 100%
  );
  animation: scanDiagonal 5s linear infinite;
}
